@using Microsoft.AspNetCore.Identity
@inject SignInManager<MVC_ITI_Project.Models.ApplicationUser> SignInManager
@inject UserManager<MVC_ITI_Project.Models.ApplicationUser> UserManager

<ul class="navbar-nav ms-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span class="nav-link">Hello, @UserManager.GetUserName(User)!</span>
    </li>
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
            <button type="submit" class="btn btn-link nav-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
    </li>
}
</ul>


